In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv(r"E:\titanic\train.csv")
df.drop(["Ticket", "Name", "PassengerId"], axis=1, inplace=True)
df.head(-5)

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500   NaN        S
1           1       1  female  38.0      1      0  71.2833   C85        C
2           1       3  female  26.0      0      0   7.9250   NaN        S
3           1       1  female  35.0      1      0  53.1000  C123        S
4           0       3    male  35.0      0      0   8.0500   NaN        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
881         0       3    male  33.0      0      0   7.8958   NaN        S
882         0       3  female  22.0      0      0  10.5167   NaN        S
883         0       2    male  28.0      0      0  10.5000   NaN        S
884         0       3    male  25.0      0      0   7.0500   NaN        S
885         0       3  female  39.0      0      5  29.1250   NaN        Q

[886 rows x 9 columns]

In [12]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [47]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(missing_values=np.nan, strategy="mean")
df["Age"] = si.fit_transform(np.array(df["Age"]).reshape(-1, 1))
df["Embarked"].fillna(value="S", inplace=True)
df["Cabin"].fillna(value=str(df["Cabin"].mode()[0]), inplace=True)
df.isnull().sum()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [50]:
df.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [48]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers=[("encoder", OneHotEncoder(), [2])], remainder="passthrough")
df.iloc[:, 2] = ct.fit_transform(df.iloc[:, 2])

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

In [49]:
df.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'