In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"E:\Machine learning udemy\Machine Learning-A-Z-Codes-Datasets (1)\Machine Learning A-Z (Codes and Datasets)\Part 3 - Classification\Section 15 - K-Nearest Neighbors (K-NN)\Python\Social_Network_Ads.csv")

In [3]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0