In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

WARNING:tensorflow:From C:\Users\tharu\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
df = pd.read_csv("E:\BlackClover\Machine Learning-A-Z-Codes-Datasets (1)\Machine Learning A-Z (Codes and Datasets)\Part 8 - Deep Learning\Section 39 - Artificial Neural Networks (ANN)\Python\Churn_Modelling.csv")
X = df.iloc[:, 3:-1].values
y = df.iloc[:, -1].values
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [46]:
X[0]

array([1.0, 0.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
ann = tf.keras.models.Sequential()

WARNING:tensorflow:From C:\Users\tharu\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [11]:
ann.add(tf.keras.layers.Dense(units=6, activation="relu"))#first hidden layer

In [12]:
ann.add(tf.keras.layers.Dense(units=6, activation="relu"))#second hidden layer

In [13]:
ann.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))#output layer

In [14]:
ann.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\tharu\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [16]:
ann.fit(X_train, y_train, batch_size=32, epochs=20)

Epoch 1/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3585 - accuracy: 0.8505
Epoch 2/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3556 - accuracy: 0.8536
Epoch 3/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3533 - accuracy: 0.8551
Epoch 4/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3509 - accuracy: 0.8576
Epoch 5/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3491 - accuracy: 0.8595
Epoch 6/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3479 - accuracy: 0.8593
Epoch 7/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3464 - accuracy: 0.8591
Epoch 8/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3454 - accuracy: 0.8614
Epoch 9/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8597
Epoch 10/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3445 - accuracy: 0.8605
Epoch 11/20
250/250 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8606
Epoch 12/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3442 - accuracy: 0.8626
Epoch 13/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3436 - accuracy: 0.8618
Epoch 14/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8629
Epoch 15/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8620
Epoch 16/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3422 - accuracy: 0.8621
Epoch 17/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8643
Epoch 18/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3414 - accuracy: 0.8624
Epoch 19/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8634
Epoch 20/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8627

In [58]:
single = [[1.0, 0.0, 0.0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]

In [59]:
single = sc.transform(single)

In [62]:
ann.predict(single)

1/1 [==============================] - 0s 24ms/step

array([[0.02838937]], dtype=float32)

In [75]:
y_pre = ann.predict(X_test)
y_pred = []
for i in y_pre:
    if i > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

63/63 [==============================] - 0s 1ms/step

In [78]:
from sklearn.metrics import confusion_matrix, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(accuracy_score(y_test, y_pred))

[[1502   93]
 [ 197  208]]
0.855