In [3]:
tu = (19, "tharun") + ("op", 10)

In [4]:
tu

(19, 'tharun', 'op', 10)

In [5]:
tu[:3]

(19, 'tharun', 'op')

In [6]:
len(tu)

4

In [7]:
tu[2] = 4

TypeError: 'tuple' object does not support item assignment

In [8]:
nested = (1, 2, ("tharun", "op"), 3, 4, ("hi"))

In [13]:
nested[2][0]

'tharun'

In [2]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [7]:
release_year_dict["Ghilli"] = 2007
del(release_year_dict["Thriller"])

In [8]:
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Ghilli': 2007}

In [9]:
"The Bodyguard" in release_year_dict

True

In [13]:
num1 = {"tharun", "naveen", "jindo", "joe", "harish", "harish"}
num2 = {"aqeel", "joe", "selva", "naveen"}

In [19]:
num1.issuperset(num2)

False

In [20]:
A=((1),[2,3],[4])
A[2]

[4]

In [21]:
len(("disco",10))

2