In [8]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

In [4]:
dataset = {
    "Age": [25, 37, None, 45, 29, 34, 52, None, 31, 27, None, 42, 38, None, 30, 48, None, 35, 50, None],
    "Income": [45000, 54000, 32000, None, 50000, None, 62000, 41000, None, 46000, 48000, None, 53000, 60000, None, 52000, 58000, None, 64000, 49000],
    "Gender": ["Male", "Female", "Female", "Male", "Male", None, "Female", "Male", "Female", None, "Male", "Female", None, "Male", "Female", "Male", None, "Female", "Male", None],
    "City": ["New York", "Los Angeles", "Chicago", None, "Houston", "Phoenix", "Philadelphia", None, "San Antonio", "San Diego", "Dallas", None, "San Jose", "Austin", None, "Jacksonville", None, "Fort Worth", "Columbus", "Charlotte"],
    "Education": ["Bachelor", "Master", "PhD", None, "High School", "Bachelor", "Master", None, "PhD", "High School", "Bachelor", None, "Master", "PhD", None, "High School", None, "Bachelor", "Master", "PhD"],
    "Purchased": ["Yes", "No", "Yes", "Yes", "No", "No", "Yes", "No", "Yes", "Yes", "No", "Yes", "No", "Yes", "No", "Yes", "No", "Yes", "No", "Yes"]
}
df = pd.DataFrame(dataset)

In [5]:
df.head(5)

    Age   Income  Gender         City    Education Purchased
0  25.0  45000.0    Male     New York     Bachelor       Yes
1  37.0  54000.0  Female  Los Angeles       Master        No
2   NaN  32000.0  Female      Chicago          PhD       Yes
3  45.0      NaN    Male         None         None       Yes
4  29.0  50000.0    Male      Houston  High School        No

In [6]:
num_cols = ["Age", "Income"]
cate_cols = ["Gender", "City", "Education"]
encode = ["Purchased"]

In [9]:
X = df.iloc[:, :5].values
y = df.iloc[:, -1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

array(['Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)